@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505; /* Fundo preto profundo */
  --foreground: #ffffff;
  --green-neon: #22c55e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Scrollbar personalizada para combinar com o layout dark */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}

/* Ajuste para inputs no modo Dark */
input[type="month"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}